{% extends 'middle/base.html.twig' %}

{% block bodyClass %}page-authentification{% endblock %}

{% block body %}
    <div class="authentification-wrap">
        <div class="authentification-form" data-aos="fade-up" data-aos-delay="300">

            <img src="{{ asset('img/plus_de_points.svg') }}" alt="PLUS DE POINTS" class="authentification-logo">

            <div class="authentification-text">
                Un problème ? <br> Appelez-nous au <a href="tel:{{ getParameter(constant('App\\Entity\\Parameter::CODE_PHONE'))|replace({' ':''}) }}">{{ getParameter(constant('App\\Entity\\Parameter::CODE_PHONE')) }}</a>
            </div>

            {% include('middle/common/flashMessage.html.twig') %}

            {{ form_start(form, { attr: { class: 'form-login form-auth' } }) }}
            <div class="form-group form-icon-mail">
                {{ form_widget(form.password.first) }}
            </div>
            <div class="form-group form-icon-mail">
                {{ form_widget(form.password.second) }}
            </div>
            {{ form_widget(form.submit, { 'attr': { 'class': 'btn btn-secondary btn-full'}}) }}

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
