<div class="aside-block">
  <h3 class="aside-b-title">Nos engagements</h3>
  <ul class="list-aside list-aside-icon list-unstyled">
    <li>
      <div class="icon" style="background-image:url('{{ asset('img/icons/icon-engagement/01.svg') }}')"></div>
      Le meilleur prix de votre département
    </li>
    <li>
      <div class="icon" style="background-image:url('{{ asset('img/icons/icon-engagement/02.svg') }}')"></div>
      Les stages les plus proches de chez vous
    </li>
    <li>
      <div class="icon" style="background-image:url('{{ asset('img/icons/icon-engagement/03.svg') }}')"></div>
      Changement de stage gratuit
    </li>
    <li>
      <div class="icon" style="background-image:url('{{ asset('img/icons/icon-engagement/04.svg') }}')"></div>
      Vous avez 15 jours pour changer d’avis et être remboursé
    </li>
    <li>
      <div class="icon" style="background-image:url('{{ asset('img/icons/icon-engagement/05.svg') }}')"></div>
      Un remboursement sur simple demande
    </li>
  </ul>
</div>
